# --- Node / frontend ---
node_modules/
**/node_modules/
dist/
**/dist/
.angular/
**/.angular/

# --- Java Spring Boot ---
/backend/target/
/backend/.mvn/
/backend/.classpath
/backend/.project
/backend/.settings/

# --- OS / Editor files ---
*.log
*.class
*.iml
*.DS_Store
.idea/
.vscode/

# --- Environment files ---
.env
.env.local
backend/Ecommerce/.env
