<nav class="customer-breadcrumb w-full overflow-x-auto whitespace-nowrap flex items-center text-sm py-3 px-2 sm:px-0" aria-label="Breadcrumb">
  <ng-container *ngFor="let item of items; let last = last">
    <ng-container *ngIf="!last">
      <a *ngIf="item.link; else plain" [routerLink]="item.link" class="lux-link px-1">{{ item.label }}</a>
      <ng-template #plain><span class="text-stone px-1">{{ item.label }}</span></ng-template>
      <span class="mx-2 text-fog" aria-hidden="true">/</span>
    </ng-container>
    <span *ngIf="last" class="text-ink font-medium px-1">{{ item.label }}</span>
  </ng-container>
</nav>
