DROP TABLE IF EXISTS appeals;
CREATE TABLE appeals (id VARCHAR(255) PRIMARY KEY, blacklist_entry_id VARCHAR(255) NULL, user_email VARCHAR(255) NOT NULL, appeal_reason VARCHAR(50) NOT NULL, appeal_details TEXT NOT NULL, contact_email VARCHAR(255) NOT NULL, submitted_at DATETIME NOT NULL, status VARCHAR(20) NOT NULL DEFAULT 'PENDING', admin_notes TEXT NULL, reviewed_at DATETIME NULL, reviewed_by VARCHAR(255) NULL);
