<nav class="navbar navbar-expand-lg navbar-dark bg-black sticky-top px-4 py-2">
  <!-- <a class="navbar-brand d-lg-none" href="#"><h2 class="text-light mb-0"><i class="fa fa-hashtag"></i></h2></a> -->
  <h3 class="text-light mb-0"><i class="bi bi-person"></i> ADMIN</h3>
  <div class="navbar-nav ms-auto align-items-center">
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">
        <i class="fa fa-envelope"></i><span class="d-none d-lg-inline-flex">Messages</span>
      </a>
    </div>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">
        <i class="fa fa-bell"></i><span class="d-none d-lg-inline-flex">Notifications</span>
      </a>
    </div>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">
        <img class="rounded-circle me-2" src="assets/img/user.jpg" style="width: 40px;"> John Doe
      </a>
    </div>
    <a class="sidebar-toggler text-white me-3" (click)="toggleSidebar()"><i class="fa fa-bars"></i></a>
  </div>
</nav>
